body {
  background-color: black;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  height: 500px;
  width: 400px;
  background-color:rgb(5, 57, 59);
  display: flex;
  justify-content: center; /*vertical alignment*/
  align-items: center;  /*horizontal alignment*/
  flex-direction: column;
  border-radius: 10%;
}

.temp {
  margin-top: -0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 60%;
}

.btn1 {
  font-size: 50px;
  color: white;
  font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
  margin-top: 80px;
  display: flex;
  gap: 90px;
}

.btn2 {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background-color: rgb(60, 59, 59);
  border-color: white;
  border-width: 3px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}